<div class="image">
  <img src="../../assets/img/Vector 3.svg" width="100%" style="position: fixed;" alt="azertyu">
  <div style="margin-left: 18%; width: 120%;margin-top: 23%;">
  <ion-icon name="create-outline" style="color: white;margin-top: 3%; margin-left: 5%;"size="large"></ion-icon>
  <h3 style="position: relative;color: white;">Update</h3> 
</div>
<div class="profile">
    <h1>MK</h1>
</div>
</div>

<div class="info">
  <div class="im">
    <img src="../../assets/img/nom.svg" alt="nom">
  </div>
  <div style="margin-top: -15px; margin-left: 6%;">
    <h4>Nom</h4>
    <h2>Mohamed Koureissi</h2>
  </div>
</div>
<div class="info2">
  <div class="im">
    <img src="../../assets/img/nomU.svg" alt="nomU">
  </div>
  <div style="margin-top: -15px; margin-left: 6%;">
    <h4>Nom d'utilisateur</h4>
    <h2>Mkoureissi</h2>
  </div>
</div>
<div class="info3">
  <div class="im">
    <img src="../../assets/img/mail.svg" alt="mail">
  </div>
  <div style="margin-top: -15px; margin-left: 6%;">
    <h4>Email</h4>
    <h2>koureisi89gmail.com</h2>
  </div>
</div>
<div class="note">
  <img src="../../assets/img/note.svg" alt="note">
</div>
<div class="off">
  <ion-icon name="power" size="large" style="color: #308D89;"></ion-icon>
  <h1 style="margin-left: 5%; margin-top: -0.3%;font-weight: 900;">Deconnexion</h1>
</div>