<div class="container">
  <div class="heade" style="display: flex; align-items: center; justify-content: center; background-color:#308D89 ;height: 59px;">
    <div class="ion"> <ion-icon name="arrow-back-sharp" [routerLink]="['../']" style="color: white; font-weight: bold;width: 25px;height: 25px;margin-left: -83px;"></ion-icon></div>  
    <div>
      <h2 style="color: white; font-weight: bold;"> Parking su Sahel</h2>
    </div>
  </div>
  <div class="slider" style="margin-top: 4%;margin-bottom: 4%;">
    <img src="../../assets/img/location.png" style="width: 95%; margin-left: 2.5%;height: 200px;" alt="ggg">
   </div>
   <div class="marque">
    <!-- <h1 style="font-weight: bolder; margin-left: 4%;font-family: Inter;font-size: xx-large;">Mercedes AMG 360</h1> -->
    <h1 style="margin-left: 4%;font-size: xx-large; font-family: Inter;margin-top: 15px;font-weight: bold;color: dimgray;">20 000 F/h</h1>
   </div>
   <div style="display: flex; align-items: center; justify-content: center;">
  </div>
  <!-- Liste -->
  <h2 style="margin-left: 5%;margin-bottom: 20px;">Entrer la durée de la location</h2>
  <div class="duree">
    <input type="text" placeholder="Ex: 12h">
  </div>
  <div class="bouton1">
    <button type="submit"   [routerLink]="['../mode-paiement-location']"> Valider </button> 
  </div>
</div>