<div class="container">
  <div class="heade" style="display: flex; align-items: center; justify-content: center; background-color:#308D89 ;height: 70px;">
    <div class="ion"> <ion-icon name="arrow-back-sharp" style="color: white; font-weight: bold;width: 25px;height: 25px;margin-left: -83px;"></ion-icon></div>  
    <div>
      <h2 style="color: white; font-weight: bold;"> Parking su Sahel</h2>
    </div>
  </div>
  <div class="slider">
    <img src="../../assets/img/Group 90.png" alt="ggg">
   </div>
   <div class="marque">
    <h1></h1>
   </div>
</div>