button{
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 50px;
    width: 175px;
    border: none;
    color: white;
    background-color: #11B10E;
    font-size: x-large;
    margin: auto;
}
.bouton1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    width: 95%;
    margin-left: 2.5%;
}

h1{
    font-family: Inter;
    font-size: xx-large;
}