<ion-header [translucent]="true">
</ion-header> 

 <ion-content [fullscreen]="true">
  
  <div class="body">
      <img src="../../assets/img/illustration_d-transformed 1.png" height="260px" alt="inscription">
  </div>
  <h1 style="align-items: center; text-align: center;margin-bottom: 40px;">Connexion</h1>
  <div class="inputGroup" style="margin-top: 10px;">
    <form  [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div style="display: flex; justify-content: center; align-items: center;margin-bottom: 30px;">
       <div class="icon"><ion-icon name="mail-open-sharp" style="color: white; width: 30px;height: 25px;"></ion-icon></div>
       <div class="texte"> <input type="text" formControlName="email" placeholder="Email"  required></div>
      </div>
      <div style="display: flex; justify-content: center; align-items: center;margin-bottom: 15px;">
       <div class="icon"><ion-icon name="lock-closed-sharp" style="color: white; width: 30px;height: 25px;"></ion-icon></div>
       <div class="texte"> <input type="password" formControlName="motdepasse" placeholder="Mot de Passe"  required></div>
      </div>
      <div class="bouton1">
        <button type="submit">Se connecter</button>
      </div>
    </form>
  </div>
  <div style="display: flex; justify-content: center; align-items: center; margin-top: 20px;">
    <img src="../../assets/img/ou.png" style="max-width: 70%;" alt="ou">
  </div>
  <div class="foot" style="display: flex; justify-content: center; align-items: center; margin-top: 25px;">
    <h3>Vous n'avez pas de compte ?</h3><button id="inscrire" style="color: #308D89; background-color: white; border: none;"  [routerLink]="['../inscription']"> S'inscrire</button>
  </div>
    
 
</ion-content>
