<div class="Container">
  <div class="heade" style="display: flex; align-items: center; justify-content: center; background-color:#308D89 ;height: 70px;">
    <div class="ion"> <ion-icon name="arrow-back-sharp" style="color: white; font-weight: bold;width: 25px;height: 25px;margin-left: -83px;"></ion-icon></div>  
    <div>
      <h2 style="color: white; font-weight: bold;"> Parking su Sahel</h2>
    </div>
      <ion-icon name="ellipsis-vertical-sharp" style="color: white; font-weight: bold;width: 25px;height: 25px;"></ion-icon>
  </div>
  <div class="slider">
   <img src="../../assets/img/Group 90.png" alt="ggg">
  </div>
  <div style="display: flex; align-items: center; justify-content: center;border-radius: 13px;">
    <ion-searchbar style="width: 94% ;height: 10px !important; border-radius: 13px;" color="light" placeholder="Rechercher des Parkings"></ion-searchbar>
  </div>
  <!-- <div id="carde" class="animate__animated  animate__bounce">
  <!-- <div>  -
    <ion-card>
      <ion-card-content>
         <h1><ion-icon name="car-sharp" style="width: 30px; height: 30px;color: #308D89;"></ion-icon>  Voiture</h1> 
      </ion-card-content> 
    </ion-card>
    <ion-card>
      <ion-card-content>
        <h1> <ion-icon name="car-sport-sharp" style="width: 30px; height: 30px;color: #308D89;"></ion-icon> 4 X 4</h1>
      </ion-card-content> 
    </ion-card>
    <ion-card>
      <ion-card-content>
        <h1> <ion-icon name="car-sport-sharp" style="width: 30px; height: 30px;color: #308D89;"></ion-icon> Luxe</h1>
      </ion-card-content> 
    </ion-card>
    <ion-card>
      <ion-card-content>
       <h1> <ion-icon name="car-sport-sharp" style="width: 30px; height: 30px;color: #308D89;"></ion-icon> 4 X 4</h1>
      </ion-card-content> 
    </ion-card>
  <!- </div> -->

<div  id="carde" class="animate__animated  animate__bounce" style="margin-top: 10px;">
  <ion-card>
    <img alt="Silhouette of mountains" style="background-color: #E0E0E0;border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;" src="../../assets/img/Lux.png" />
   <ion-card-content style="background-color: #F6F7F9; height: 100%;">
     <h1> Mercedes AMG</h1><h1>1230000 FCFA</h1>
    </ion-card-content> 
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" style="background-color: #E0E0E0;border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;" src="../../assets/img/bmw-removebg-preview.png" />
   <ion-card-content style="background-color: #F6F7F9; height: 100%;">
     <h1> Toyota CHR</h1><h1>2170000 FCFA</h1>
    </ion-card-content> 
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" style="background-color: #E0E0E0;border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;" src="../../assets/img/isuzu.png" />
   <ion-card-content style="background-color: #F6F7F9; height: 100%;">
     <h1> IZUKU </h1><h1>4230000 FCFA</h1>
    </ion-card-content> 
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" style="background-color: #E0E0E0;border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;" src="../../assets/img/pickup.jpg" />
   <ion-card-content style="background-color: #F6F7F9; height: 100%;">
     <h1> Toyota Hilux</h1><h1>3170000 FCFA</h1>
    </ion-card-content> 
  </ion-card>
</div>


</div>