<div class="container">
  <div class="icon">
    <div style="margin-top: -30%; margin-right: 15%;">
    <ion-icon name="arrow-back" [routerLink]="['../']" size="large" ></ion-icon>
  </div>
    <img class="igg" src="../../assets/img/iconPark-removebg-preview.png" style="margin-right: 15%;" alt="icon">
  </div>
  <!-- Nom -->
  <div style="display: flex; align-items: center; justify-content: center;margin-top: 4%;">
  <div class="nomParking">
    <h1 class="nom">Parking du Sahel</h1>
   </div>
  </div>
  <!-- Information -->
  <div class="Proprietaire" style="margin-bottom: 5%;">
    <h4 style="margin-left: 5%; color: #837878;">Propriétaire</h4>
    <div class="info">
      <ion-icon name="person-sharp" size="large" style="color: #308D89;filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));"></ion-icon>
         <h2 style="margin-left: 10%;font-weight: 500;">Mohamed Koureissi</h2>
    </div>
  </div>
  <!-- Information -->
  <div class="Proprietaire" style="margin-bottom: 5%;">
    <h4 style="margin-left: 5%; color: #837878;">Contact</h4>
    <div class="info">
      <ion-icon name="call" size="large" style="color: #308D89;filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));"></ion-icon>
         <h2 style="margin-left: 10%;font-weight: 500;">76 45 34 20</h2>
    </div>
  </div>
  <!-- Information -->
  <div class="Proprietaire" style="margin-bottom: 5%;">
    <h4 style="margin-left: 5%; color: #837878;">Boîte mail</h4>
    <div class="info">
      <ion-icon name="mail-open" size="large" style="color: #308D89;filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));"></ion-icon>
         <h2 style="margin-left: 10%;font-weight: 500;">koureissi76gmail.com</h2>
    </div>
  </div>
  <!-- Information -->
  <div class="Proprietaire" style="margin-bottom: 5%;">
    <h4 style="margin-left: 5%; color: #837878;">Adresse</h4>
    <div class="info">
      <ion-icon name="location"  size="large" style="color: #308D89;filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));"></ion-icon>
         <h2 style="margin-left: 10%;font-weight: 500;">ACI 2000</h2>
    </div>
  </div>
</div>