<div class="heade" style="display: flex; align-items: center; justify-content: center; background-color:#308D89 ;height: 60px;">
  <!-- <div class="ion"> <ion-icon name="arrow-back-sharp"  [routerLink]="['../']" style="color: white; font-weight: bold;width: 25px;height: 25px;margin-left: -83px;"></ion-icon></div>   -->
  <div>
    <h2 style="color: white; font-weight: bold;"> Mes Transactions</h2>
  </div>
</div>
<div class="container">
  <div class="head">
    <ion-card style="border-radius: 15px;">
     <ion-card-content style="background-color: #9fd3d0; height: 100%;">
       <h1 class="marque"> Mohamed Koureissi <br> koureissi89gmail.com</h1>
       <div class="depenses">
       <div>
       <h1 class="depense">Dépense Totale</h1></div>
       <div style="display: flex; justify-content: end;align-items: end;margin-left: 27%;">
        <img src="../../assets/img/Ellipse 10.svg" style="margin-right: 10px;" alt="paypal">
       <img src="../../assets/img/unnamed 1.svg" alt="orangeMoney">
      </div>  
    </div> 
       <div class="achat">
         <h1 style="font-size: 21px;color: black;">108 000000 FCFA</h1>
      </div>
      </ion-card-content> 
    </ion-card>
  </div>
 
  <h1 style="font-weight: bold;margin-left: 2%;">Historique</h1>
  <div class="transac">
    <div class="voiture">
       <img src="../../assets/img/bmw-removebg-preview.png" style="margin-top: 10%;" width="90%" alt="bmW">
    </div>
    <div class="marque">
         <h3>
          Nissan  <br>SQ8 <br>
          11/12/2023
         </h3>
    </div>
    <div class="prix">
          <h3>11 000000 F  <br>  <ion-icon name="checkbox-outline" style="color: green;"></ion-icon></h3> <br>
    </div>
  </div>
  <div class="transac">
    <div class="voiture">
       <img src="../../assets/img/isuzu.png" style="margin-top: 10%;" width="90%" alt="bmW">
    </div>
    <div class="marque">
         <h3>
          IZUKI <br>  405  <br>
          21/12/2022
         </h3>
    </div>
    <div class="prix">
          <h3>7 000000 F <br> <ion-icon name="compass-outline" style="color: blue;"></ion-icon></h3> <br>
    </div>
  </div>
  <div class="transac">
    <div class="voiture">
       <img src="../../assets/img/Lux.png" style="margin-top: 10%;" width="90%" alt="bmW">
    </div>
    <div class="marque">
         <h3>
          Mercedes  <br>Brabus <br>
          18/02/2021
         </h3>
    </div>
    <div class="prix">
          <h3>90 000000 F  <br>  <ion-icon name="checkbox-outline" style="color: green;"></ion-icon></h3> <br>
    </div>
  </div>
  <!-- <div class="transac">
    <div class="voiture">
       <img src="../../assets/img/bmw-removebg-preview.png" style="margin-top: 10%;" width="90%" alt="bmW">
    </div>
    <div class="marque">
         <h3>
          Nissan<br> SQ8  <br>
          11/12/2023
         </h3>
    </div>
    <div class="prix">
          <h3>25 0000 F  <br> 12h</h3>  <ion-icon name="compass-outline" style="color: blue;"></ion-icon>
    </div>
  </div> -->
</div>