<ion-content>
   
    <img src="../../assets/img/mon-logo.png" alt="no image">

  <div>
  <!-- <app-slider [slides]="slides"></app-slider> -->
</div>
<!-- Bar de recherche -->
<div style="display: flex; align-items: center; justify-content: center;">
  <ion-searchbar style="width: 95%;" color="light" placeholder="Rechercher des Parkings"></ion-searchbar>
</div>


  <div id="carde" class="animate__animated  animate__bounce">
  <!-- 2eme Card -->
    <ion-card class="cardIon"   [routerLink]="['../tab1/vente/'+admins.idAdminParking]"  *ngFor="for let admins of admin">
      <div class="divcard">
      <img alt="S" class="imgcard" src="../../assets/img/park-removebg-preview.png" />
    </div>
    <div>
      <h2  style="font-weight: revert;font-family: ui-monospace; text-align: center;color: rgb(56, 53, 53);">{{admins.nomParking}}</h2>
    </div>
    </ion-card>
   
  </div>
</ion-content>