<ion-content>
   
    <img src="../../assets/img/mon-logo.png" alt="no image">

  <div>
  <!-- <app-slider [slides]="slides"></app-slider> -->
</div>
<!-- Bar de recherche -->
<div style="display: flex; align-items: center; justify-content: center;">
  <ion-searchbar style="width: 95%;" color="light" placeholder="Rechercher des Parkings"></ion-searchbar>
</div>


  <div id="carde" class="animate__animated  animate__bounce">
 
    <ion-card class="cardIon">
      <img alt="Silhouette of mountains" src="../../assets/img/park-removebg-preview.png" />
      <ion-card-header>
        <ion-card-title style="font-weight: revert;font-family: ui-monospace;">Parking du Sahel</ion-card-title>
      </ion-card-header>
    </ion-card>
    <!---->
    <ion-card class="cardIon">
      <img alt="Silhouette of mountains" src="../../assets/img/illustration_d-transformed 1.png" />
      <ion-card-header>
        <ion-card-title style="font-weight: revert;font-family: ui-monospace;">Card Title</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card class="cardIon">
      <img alt="Silhouette of mountains" src="../../assets/img/hh.jpg" />
      <ion-card-header>
        <ion-card-title style="font-weight: revert;font-family: ui-monospace;">Star Park</ion-card-title>
      </ion-card-header>
    </ion-card>
    
    <ion-card class="cardIon">
      <img alt="Silhouette of mountains" src="../../assets/img/iconPark-removebg-preview.png" />
      <ion-card-header>
        <ion-card-title style="font-weight: revert;font-family: ui-monospace;">Card Title</ion-card-title>
      </ion-card-header>
    </ion-card>
   
   
  </div>
</ion-content>